<ng-include src="'app/menu.html'"></ng-include>
<div class="header shadow">
    <h1><span class="font-weight-bold">Eliminar pedido</span></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form name="userForm" ng-show="!fallo&&!hecho">
                <div class="form-group row">
                    <label for="id" class="col-sm-2 col-form-label">Id:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="id" value="{{id}}" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cantidad" class="col-sm-2 col-form-label">Cantidad:</label>
                    <div class="col-sm-10">
                        <input class="form-control rounded-0" id="exampleFormControlTextarea2" ng-model="cantidad"
                            class="form-control" name="cantidad" value="{{cantidad}}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="factura_obj" class="col-sm-2 col-form-label">Factura:</label>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <input class="form-control rounded-0" id="exampleFormControlTextarea2"
                                ng-model="factura_obj" class="form-control" name="factura_obj" value="{{factura_obj}}"
                                readonly>
                        </div>

                    </div>
                </div>
                <div class="form-group row">
                    <label for="producto_obj" class="col-sm-2 col-form-label">Producto:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="producto_obj" class="form-control" name="producto_obj"
                            value="{{producto_obj}}" readonly />
                    </div>
                </div>

                <br>
                <p>¿Seguro que quiere elimnar el pedido?</p>
                <div class="row">
                    <div class="col text-center">
                        <button type="button" class="btn btn-primary" ng-click="remove()">Eliminar datos</button>
                    </div>
                </div>
            </form>
            <div ng-show="!fallo&&hecho">
                <div class="alert alert-success text-center" role="alert">
                    <h2>El pedido se ha eliminado con éxito</h2>
                    <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
                    <button class="btn btn-primary" ng-click="volver()">Volver</button>
                </div>
            </div>
            <div ng-show="fallo&&hecho">
                <div class="alert alert-danger text-center" role="alert">
                    <h2>Ha ocurrido un error al eliminar el pedido</h2>
                    <p ng-show="falloMensaje!=''">{{falloMensaje}}</p>
                    <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
                    <button class="btn btn-primary" ng-click="volver()">Volver</button>
                </div>
            </div>
            <div ng-show="fallo&&!hecho">
                <div class="alert alert-danger text-center" role="alert">
                    <h2>Ha habido un error al recibir datos del pedido desde el servidor</h2>
                    <p ng-show="falloMensaje!=''">{{falloMensaje}}</p>
                    <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
                    <button class="btn btn-primary" ng-click="volver()">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>