<ng-include src="'app/menu.html'"></ng-include>
<div class="header shadow">
    <h1><span class="font-weight-bold">Editar producto</span></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form name="userForm" ng-show="!fallo&&!hecho">
                <div class="form-group row">
                    <label for="id" class="col-sm-2 col-form-label">Id:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="id" value="{{id}}" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="codigo" class="col-sm-2 col-form-label">Codigo:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="codigo" class="form-control"
                            ng-class="{ 'is-invalid' :!userForm.codigo.$valid && !userForm.codigo.$pristine}"
                            name="codigo" ng-required="true" value="{{codigo}}" />
                        <div class="invalid-feedback" ng-show="userForm.codigo.$invalid">
                            El codigo no puede estar vacio.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="existencias" class="col-sm-2 col-form-label">Existencias:</label>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <input type="text" ng-model="existencias" class="form-control"
                                class="form-control"
                                ng-class="{ 'is-invalid' : !userForm.existencias.$valid && !userForm.existencias.$pristine}"
                                name="existencias" ng-required="true" value="{{existencias}}"></input>
                        </div>
                        <div class="invalid-feedback" ng-show="userForm.existencias.$invalid">
                            El campo existencias no puede estar vacio.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="precio" class="col-sm-2 col-form-label">Precio:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="precio" class="form-control"
                            ng-class="{ 'is-invalid' : !userForm.precio.$valid && !userForm.precio.$pristine}"
                            name="precio" ng-required="true" value="{{precio}} €" />
                        <div class="invalid-feedback" ng-show="userForm.precio.$error.pattern">
                            El campo precio no puede estar vacio.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="descripcion" class="col-sm-2 col-form-label">Descripcion:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="descripcion" class="form-control"
                            ng-class="{ 'is-invalid' : !userForm.descripcion.$valid && !userForm.descripcion.$pristine}"
                            name="descripcion" ng-required="true" value="{{descripcion}}" />
                        <div class="invalid-feedback" ng-show="userForm.descripcion.$error.pattern">
                            El campo descripcion no puede estar vacio.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tipo_producto_obj_descripcion" class="col-sm-2 col-form-label">Tipo producto:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="tipo_producto_obj_descripcion" class="form-control"
                            ng-class="{ 'is-invalid' : !userForm.tipo_producto_obj_descripcion.$valid && !userForm.tipo_producto_obj_descripcion.$pristine}"
                            name="tipo_producto_obj_descripcion" ng-required="true" value="{{tipo_producto_obj_descripcion}}" />
                        <div class="invalid-feedback" ng-show="userForm.tipo_producto_obj_descripcion.$error.pattern">
                            El campo tipo producto no puede estar vacio.
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col text-center">
                        <button type="button" class="btn btn-primary" ng-click="modificar()">Actualizar los
                            datos</button>
                    </div>
                </div>
            </form>
            <div ng-show="!fallo&&hecho">
                <div class="alert alert-success text-center" role="alert">
                    <h2>El producto se ha actualizado con éxito</h2>
                    <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
                    <button class="btn btn-primary" ng-click="volver()">Volver</button>
                </div>
            </div>
            <div ng-show="fallo&&hecho">
                <div class="alert alert-danger text-center" role="alert">
                    <h2>Ha ocurrido un error al actualizar el producto</h2>
                    <p ng-show="falloMensaje!=''">{{falloMensaje}}</p>
                    <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
                    <button class="btn btn-primary" ng-click="volver()">Volver</button>
                </div>
            </div>
            <div ng-show="fallo&&!hecho">
                <div class="alert alert-danger text-center" role="alert">
                    <h2>Ha habido un error al recibir datos del producto desde el servidor</h2>
                    <p ng-show="falloMensaje!=''">{{falloMensaje}}</p>
                    <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
                    <button class="btn btn-primary" ng-click="volver()">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>