<ng-include src="'app/menu.html'"></ng-include>
<div class="header shadow">
    <h1><span class="font-weight-bold">Lista de usuarios</span></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="wrapper">
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" ng-model="word"
                            aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                            ng-click="search()">Buscar</button>
                    </form>
                </nav>
                <nav aria-label="Registros por página">
                    <ul class="pagination float-right">
                        <li class="page-item" ng-class="{'active':(rppActual==r)}" ng-repeat="r in rppS">
                            <a class="page-link" href="#!/usuario/plist/{{r}}/{{ calcPage[$index] }}">{{r}}</a>
                        </li>
                    </ul>
                </nav>
                <nav aria-label="Paginación">
                    <ul class="pagination">
                        <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
                            ng-repeat="p in botonera track by $index">
                            <a class="page-link" ng-if="p != '...'"
                                href="#!/usuario/plist/{{ rppActual }}/{{ p }}">{{p}}</a>
                            <span class="page-link" ng-if="p == '...'">{{ p }}</span>
                        </li>
                    </ul>
                </nav>
                <table class="table">
                    <tr>
                        <th>Id <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <a href="#!/usuario/plist/{{ rppActual }}/{{ paginaActual }}/id/asc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-up"></i></i></a>
                                <a href="#!/usuario/plist/{{ rppActual }}/{{ paginaActual }}/id/desc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-down"></i></i></a>
                            </div>
                        </th>
                        <th>DNI <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <a href="#!/usuario/plist/{{ rppActual }}/{{ paginaActual }}/dni/asc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-up"></i></i></a>
                                <a href="#!/usuario/plist/{{ rppActual }}/{{ paginaActual }}/dni/desc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-down"></i></i></a>
                            </div>
                        </th>
                        <th>Nombre <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <a href="#!/usuario/plist/{{ rppActual }}/{{ paginaActual }}/nombre/asc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-up"></i></i></a>
                                <a href="#!/usuario/plist/{{ rppActual }}/{{ paginaActual }}/nombre/desc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-down"></i></i></a>
                            </div>
                        </th>
                        <th>Apellidos <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <a href="#!/usuario/plist/{{ rppActual }}/{{ paginaActual }}/apellido1/asc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-up"></i></i></a>
                                <a href="#!/usuario/plist/{{ rppActual }}/{{ paginaActual }}/apellido1/desc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-down"></i></i></a>
                            </div>
                        </th>
                        </th>
                        <th>Email <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <a href="#!/usuario/plist/{{ rppActual }}/{{ paginaActual }}/email/asc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-up"></i></i></a>
                                <a href="#!/usuario/plist/{{ rppActual }}/{{ paginaActual }}/email/desc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-down"></i></i></a>
                            </div>

                        </th>
                        <th>Login <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <a href="#!/usuario/plist/{{ rppActual }}/{{ paginaActual }}/login/asc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-up"></i></i></a>
                                <a href="#!/usuario/plist/{{ rppActual }}/{{ paginaActual }}/login/desc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-down"></i></i></a>
                            </div>

                        </th>
                        <th>Tipo usuario <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <a href="#!/usuario/plist/{{ rppActual }}/{{ paginaActual }}/tipo_usuario_obj/asc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-up"></i></i></a>
                                <a href="#!/usuario/plist/{{ rppActual }}/{{ paginaActual }}/tipo_usuario_obj/desc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-down"></i></i></a>
                            </div>

                        </th>
                        <th>Acciones</th>
                    </tr>
                    <tr ng-repeat="fila in pagina">
                        <td>{{fila.id}}</td>
                        <td>{{fila.dni}}</td>
                        <td>{{fila.nombre}}</td>
                        <td>{{fila.apellido1}} {{fila.apellido2}}</td>
                        <td>{{fila.email}}</td>
                        <td><a href="#!/usuario/view/{{fila.id}}">{{fila.login}}</a></td>
                        <td><a href="#!/tipousuario/view/{{fila.tipo_usuario_obj.id}}">{{fila.tipo_usuario_obj.descripcion}}</a></td>
                        <td>
                            <a href="#!/usuario/view/{{fila.id}}"><i class="fa fa-eye"></i></a>
                            <a href="#!/usuario/edit/{{fila.id}}"><i class="fa fa-edit"></i></a>
                            <a href="#!/usuario/remove/{{fila.id}}"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>

                </table>
                <nav aria-label="Paginación">
                    <ul class="pagination">
                        <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
                            ng-repeat="p in botonera track by $index">
                            <a class="page-link" ng-if="p != '...'"
                                href="#!/usuario/plist/{{ rppActual }}/{{ p }}">{{p}}</a>
                            <span class="page-link" ng-if="p == '...'">{{ p }}</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>