<ng-include src="'app/menu.html'"></ng-include>
<div class="header shadow">
    <h1><span class="font-weight-bold">Editar factura</span></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form name="userForm" ng-show="!fallo&&!hecho">
                <!--ID-->
                <div class="form-group row">
                    <label for="id" class="col-sm-2 col-form-label">Id:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="id" value="{{id}}" class="form-control" readonly />
                    </div>
                </div>
                <!--Fecha-->
                <div class="form-group row">
                    <label for="fecha" class="col-sm-2 col-form-label">Fecha:</label>
                    <div class="col-sm-10">
                        <md-datepicker ng-model="fecha" md-placeholder="Enter date"
                            ng-class="{ 'is-invalid' : !userForm.fecha.$valid && !userForm.fecha.$pristine}"
                            name="fecha" ng-required="true"></md-datepicker>
                    </div>
                </div>
                <!--Iva-->
                <div class="form-group row">
                    <label for="iva" class="col-sm-2 col-form-label">IVA:</label>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <input type="text" ng-model="iva" value="{{iva}}" class="form-control" />
                        </div>
                        <div class="invalid-feedback" ng-show="userForm.iva.$invalid">
                            El IVA no puede estar vacio.
                        </div>
                    </div>
                </div>
                <!--Usuario_ID-->
                <div class="form-group row">
                    <label for="usuario_obj" class="col-sm-2 col-form-label">Usuario id:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="usuario_obj" class="form-control"
                            ng-class="{ 'is-invalid' : !userForm.usuario_obj.$valid && !userForm.usuario_obj.$pristine}"
                            name="usuario_obj" ng-required="true" value="{{usuario_obj.login}}" />
                        <div class="invalid-feedback" ng-show="userForm.usuario_obj.$error.pattern">
                            El usuario no puede estar vacio.
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col text-center">
                        <button type="button" class="btn btn-primary" ng-click="modificar()">Actualizar los
                            datos</button>
                    </div>
                </div>
            </form>
            <div ng-show="!fallo&&hecho">
                <div class="alert alert-success text-center" role="alert">
                    <h2>La factura se ha actualizado con éxito</h2>
                    <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
                    <button class="btn btn-primary" ng-click="volver()">Volver</button>
                </div>
            </div>
            <div ng-show="fallo&&hecho">
                <div class="alert alert-danger text-center" role="alert">
                    <h2>Ha ocurrido un error al actualizar la factura</h2>
                    <p ng-show="falloMensaje!=''">{{falloMensaje}}</p>
                    <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
                    <button class="btn btn-primary" ng-click="volver()">Volver</button>
                </div>
            </div>
            <div ng-show="fallo&&!hecho">
                <div class="alert alert-danger text-center" role="alert">
                    <h2>Ha habido un error al recibir datos de la factura desde el servidor</h2>
                    <p ng-show="falloMensaje!=''">{{falloMensaje}}</p>
                    <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
                    <button class="btn btn-primary" ng-click="volver()">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>