<header-component></header-component>
<main role="main" class="container margenes">

    <h1 class="text-center"><i class="fas fa-user-tag"></i> Editar tipo de usuario {{id}}</h1>

    <div class="fluid-container">
        <div class="row">
            <ng-form name="form" ng-show="formulario" class="col-10 col-lg-8 mx-auto">
                <div class="mt-4 form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" ng-model="id" disabled>
                </div>
                <div class="mt-4 form-group" ng-class="{'has-error': form.desc.$invalid}">
                    <label>Descripción:</label>
                    <input type="text" name="desc" class="form-control" ng-model="desc" ng-maxlength="50" ng-pattern="/^([A-Z]|[a-z])[a-z]*$/" required>
                    <p ng-show="form.desc.$invalid && !form.desc.$pristine" class="help-block red-text">
                        Formato de descripción inválido.
                    </p>
                </div>
                <div class="text-center mt-3" ng-show="botones">
                    <button type="button" class="btn btn-primary mt-2 mx-2" ng-click="editar()">Guardar</button>
                    <button type="button" class="btn btn-danger mt-2 mx-2" ng-click="volver()">Volver atrás</button>
                </div>
            </ng-form>

            <div class="col-10 col-lg-8 mx-auto mt-4 text-center alert alert-success" role="alert" ng-show="correcto">
                Tipo de usuario editado correctamente
                <button type="button" class="btn btn-primary mx-2" ng-click="volver()">Volver atrás</button>
            </div>
        </div>
    </div>

</main>
<footer-component></footer-component>