<div class="slide-animate-container">
    <ng-include src="'app/menu.html'"></ng-include>
</div>
<ng-include src="'app/menu.html'"></ng-include>
<div class="header shadow">
    <h1>Vista de producto</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img ng-src="{{imagen}}" />
        </div>
        <div class="col-lg-8">
            <form name="userForm" ng-show="!fallo&&!hecho">
                <div class="form-container">
                    <div class="col-sm-12 t-p">
                        <h3><strong>{{descripcion}}</strong></h3>

                        <span class="baseprice">{{precio}}</span>
                        <span class="euro">€</span>
                    </div>

                    <div class="col-sm-12 t-p2">

                        <div class="form-group row" ng-show="authStatus==200 && sessionLevel == 1">
                            <label for="id" class="col-sm-3 col-form-label"><strong>Id:</strong></label>
                            <div class="col-sm-9 col-form-label">
                                <p>{{id}}</p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="codigo" class="col-sm-3 col-form-label"><strong>Codigo:</strong></label>
                            <div class="col-sm-9 col-form-label">
                                <p class="font-weight-bold">{{codigo}}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="existencias" class="col-sm-3 col-form-label"><strong>Existencias:</strong></label>
                            <div class="col-sm-9 col-form-label">
                                <p>{{existencias}}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tipo_producto_obj" class="col-sm-3 col-form-label"><strong>Tipo Producto:</strong></label>
                            <div class="col-sm-9 col-form-label">
                                <p>{{tipo_producto_obj.descripcion}}</p>
                            </div>
                        </div>
                        <div class="form-group row">
                    
                                <label for="cantidad" class="col-sm-3 col-form-label"><strong>Cantidad:</strong></label>
                                <div class="col-sm-9 col-form-label">
                                    <div class="cantidad_container">
                                        <div class="btn-group mas-menos">
                                            <button class="btn btn-secondary2 quantify-modify quantify-sub"  ng-click="menos()"><i
                                                    class="fas fa-minus"></i></button>
                                            <input id="article-quantity" class="form-control input-units" type="text"
                                                name="cantidad" value="{{cantidad}}" ng-model="cantidad" data-max="9999"
                                                autocomplete="off" data-refubrished="false" data-digital="false">
                                            <button class="btn btn-secondary2 quantify-modify quantify-add" ng-click="mas()"><i
                                                    class="fas fa-plus" ></i></button>
                                        </div>
                                    </div>
                         
                            </div>
                        </div>
                        <div class="text-center">
                                <button type="button" class="btn btn-primary" ng-click="add()">Añadir al carrito</button>
                        </div>
                    </div>
                   
                </div>
                
              
            </form>
        </div>
    </div>
</div>
</div>