<ng-include src="'app/menu.html'"></ng-include>
<div class="header shadow">
  <h1><span class="font-weight-bold">Nuevo pedido</span></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <form name="userForm" ng-show="!fallo&&!hecho">
        <div class="form-group row">
          <label for="cantidad" class="col-sm-2 col-form-label">Cantidad:</label>
          <div class="col-sm-10">
            <input type="text" ng-model="cantidad" class="form-control"
              ng-class="{ 'is-invalid' :!userForm.cantidad.$valid && !userForm.cantidad.$pristine}" name="cantidad"
              ng-required="true" />
            <div class=" invalid-feedback" ng-show="userForm.cantidad.$invalid">
              La cantidad no puede estar vacio.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="producto_id" class="col-sm-2 col-form-label">producto_id:</label>
          <div class="col-sm-10">
            <div class="form-group">
              <input class="form-control rounded-0" id="exampleFormControlTextarea2" ng-model="producto_id"
                class="form-control"
                ng-class="{ 'is-invalid' : !userForm.producto_id.$valid && !userForm.producto_id.$pristine}"
                name="producto_id" ng-required="true" />
            </div>
            <div class=" invalid-feedback" ng-show="userForm.producto_id.$invalid">
              El producto_id no puede estar vacio.
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="factura_id" class="col-sm-2 col-form-label">factura_id:</label>
          <div class="col-sm-10">
            <input type="text" ng-model="factura_id" class="form-control"
              ng-class="{ 'is-invalid' : !userForm.factura_id.$valid && !userForm.factura_id.$pristine}"
              name="factura_id" ng-required="true" />
            <div class="invalid-feedback" ng-show="userForm.factura_id.$error.pattern">
              Debe llevar al menos una factura_id.
            </div>
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-primary" ng-click="new()">Crear pedido</button>
          </div>
        </div>
      </form>
      <div ng-show="!fallo&&hecho">
        <div class="alert alert-success text-center" role="alert">
          <h2>Se ha añadido un nuevo pedido.</h2>
          <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
          <button class="btn btn-primary" ng-click="volver()">Volver</button>
        </div>
      </div>
      <div ng-show="fallo&&hecho">
        <div class="alert alert-danger text-center" role="alert">
          <h2>Ha ocurrido un error al añadir el pedido</h2>
          <p ng-show="falloMensaje!=''">{{falloMensaje}}</p>
          <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
          <button class="btn btn-primary" ng-click="volver()">Volver</button>
        </div>
      </div>
    </div>
  </div>
</div>