<ng-include src="'app/menu.html'"></ng-include>
<div class="header shadow">
    <h1><span class="font-weight-bold">Lista de facturas</span></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="wrapper">
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" ng-model="word"
                            aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                            ng-click="search()">Buscar</button>
                    </form>
                </nav>
                <nav aria-label="Registros por página">
                    <ul class="pagination float-right">
                        <li class="page-item" ng-class="{'active':(rppActual==r)}" ng-repeat="r in rppS">
                            <a class="page-link" href="#!/factura/plist/{{r}}/{{ calcPage[$index] }}">{{r}}</a>
                        </li>
                    </ul>
                </nav>
                <nav aria-label="Paginación">
                    <ul class="pagination">
                        <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
                            ng-repeat="p in botonera track by $index">
                            <a class="page-link" ng-if="p != '...'"
                                href="#!/factura/plist/{{ rppActual }}/{{ p }}">{{p}}</a>
                            <span class="page-link" ng-if="p == '...'">{{ p }}</span>
                        </li>
                    </ul>
                </nav>
                <table class="table">
                    <tr>
                        <th>Id <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <a href="#!/factura/plist/{{ rppActual }}/{{ paginaActual }}/id/asc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-up"></i></i></a>
                                <a href="#!/factura/plist/{{ rppActual }}/{{ paginaActual }}/id/desc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-down"></i></i></a>
                            </div>
                        </th>
                        <th>Fecha <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <a href="#!/factura/plist/{{ rppActual }}/{{ paginaActual }}/fecha/asc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-up"></i></i></a>
                                <a href="#!/factura/plist/{{ rppActual }}/{{ paginaActual }}/fecha/desc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-down"></i></i></a>
                            </div>
                        </th>
                        <th>IVA <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <a href="#!/factura/plist/{{ rppActual }}/{{ paginaActual }}/iva/asc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-up"></i></i></a>
                                <a href="#!/factura/plist/{{ rppActual }}/{{ paginaActual }}/iva/desc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-down"></i></i></a>
                            </div>
                        </th>
                        <th>Usuario <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <a href="#!/factura/plist/{{ rppActual }}/{{ paginaActual }}/usuario_obj/asc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-up"></i></i></a>
                                <a href="#!/factura/plist/{{ rppActual }}/{{ paginaActual }}/usuario_obj/desc"
                                    class="btn btn-primary btn-sm" role="button" aria-pressed="true"><i
                                        class="fas fa-sort-down"></i></i></a>
                            </div>
                        </th>
                        </th>
                        <th>Acciones</th>
                    </tr>
                    <tr ng-repeat="fila in pagina">
                        <td>{{fila.id}}</td>
                        <td>{{ fila.fecha | stringToDate | date : "dd/MM/yyyy"}}</td>
                        <td>{{fila.iva}}</td>
                        <td>
                            <a href="#!/usuario/view/{{fila.usuario_obj.id}}">{{fila.usuario_obj.nombre}} {{fila.usuario_obj.apellido1}} {{fila.usuario_obj.apellido2}}</td>
                        <td>
                            <a href="#!/factura/view/{{fila.id}}"><i class="fa fa-eye"></i></a>
                            <a href="#!/factura/edit/{{fila.id}}"><i class="fa fa-edit"></i></a>
                            <a href="#!/factura/remove/{{fila.id}}"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>

                </table>
                <nav aria-label="Paginación">
                    <ul class="pagination">
                        <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
                            ng-repeat="p in botonera track by $index">
                            <a class="page-link" ng-if="p != '...'"
                                href="#!/factura/plist/{{ rppActual }}/{{ p }}">{{p}}</a>
                            <span class="page-link" ng-if="p == '...'">{{ p }}</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>