<header-component></header-component>
<main role="main" class="container margenes">

    <h1 class="text-center"><i class="fas fa-user-tag"></i> Borrar tipo de usuario {{ajaxData.id}}</h1>

    <form ng-show="formulario">
        <div class="row form-group text-center mx-auto mt-5 table-responsive" ng-show="botones">
            <table class="table table-striped text-center">
                <tr>
                    <th>ID</th>
                    <td class="align-middle">{{ajaxData.id}}</td>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <td class="align-middle">{{ajaxData.desc}}</td>
                </tr>
            </table>
        </div>
        <div class="text-center mt-3" ng-show="botones">
            <button type="button" class="btn btn-primary mt-2 mx-2" ng-click="borrar()">Borrar tipo de usuario</button>
            <button type="button" class="btn btn-danger mt-2 mx-2" ng-click="volver()">Volver atrás</button>
        </div>
    </form>

    <div class="col-10 col-lg-8 mx-auto mt-4 text-center alert alert-success" role="alert" ng-show="alerta">
        Tipo de usuario borrado correctamente
        <button type="button" class="btn btn-primary mx-2" ng-click="volver()">Volver atrás</button>
    </div>
</main>
<footer-component></footer-component>