<ng-include src="'app/menu.html'"></ng-include>
<div class="header shadow">
    <h1><span class="font-weight-bold">Editar pedido</span></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form name="userForm" ng-show="!fallo&&!hecho">
                <!--ID-->
                <div class="form-group row">
                    <label for="id" class="col-sm-2 col-form-label">Id:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="id" value="{{id}}" class="form-control" readonly />
                    </div>
                </div>
                <!--Cantidad-->
                <div class="form-group row">
                    <label for="cantidad" class="col-sm-2 col-form-label">Cantidad:</label>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <input type="text" ng-model="cantidad" value="{{cantidad}}" class="form-control" />
                        </div>
                        <div class="invalid-feedback" ng-show="userForm.cantidad.$invalid">
                            La cantidad no puede estar vacia.
                        </div>
                    </div>
                </div>
                <!--Producto_id-->
                <div class="form-group row">
                    <label for="producto_obj" class="col-sm-2 col-form-label">Producto:</label>
                    <div class="col-sm-10">
                        <div class="form-group">
                            <input type="text" ng-model="producto_obj" value="{{producto_obj}}" class="form-control" />
                        </div>
                        <div class="invalid-feedback" ng-show="userForm.producto_id.$invalid">
                            El producto no puede estar vacio.
                        </div>
                    </div>
                </div>
                <!--Factura_id-->
                <div class="form-group row">
                    <label for="factura_obj" class="col-sm-2 col-form-label">Factura:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="factura_obj" class="form-control"
                            ng-class="{ 'is-invalid' : !userForm.factura_obj.$valid && !userForm.factura_obj.$pristine}"
                            name="factura_obj" ng-required="true" value="{{factura_obj}}" />
                        <div class="invalid-feedback" ng-show="userForm.factura_obj.$error.pattern">
                            La factura no puede estar vacia.
                        </div>
                    </div>
                </div>

                <br>
                <div class="row">
                    <div class="col text-center">
                        <button type="button" class="btn btn-primary" ng-click="modificar()">Actualizar los
                            datos</button>
                    </div>
                </div>
            </form>
            <div ng-show="!fallo&&hecho">
                <div class="alert alert-success text-center" role="alert">
                    <h2>El pedido se ha actualizado con éxito</h2>
                    <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
                    <button class="btn btn-primary" ng-click="volver()">Volver</button>
                </div>
            </div>
            <div ng-show="fallo&&hecho">
                <div class="alert alert-danger text-center" role="alert">
                    <h2>Ha ocurrido un error al actualizar el pedido</h2>
                    <p ng-show="falloMensaje!=''">{{falloMensaje}}</p>
                    <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
                    <button class="btn btn-primary" ng-click="volver()">Volver</button>
                </div>
            </div>
            <div ng-show="fallo&&!hecho">
                <div class="alert alert-danger text-center" role="alert">
                    <h2>Ha habido un error al recibir datos del pedido desde el servidor</h2>
                    <p ng-show="falloMensaje!=''">{{falloMensaje}}</p>
                    <button class="btn btn-primary" ng-click="cerrar()">Cerrar</button>
                    <button class="btn btn-primary" ng-click="volver()">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>